.gallery {
  --s: 160px;
  --g: 10px;
  display: grid;
  margin: calc(var(--s) + var(--g));
}

.gallery > img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1.15;
  object-fit: cover;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  transform: translate(var(--_x,0), var(--_y,0)) scale(var(--_t,1));
  cursor: pointer;
  filter: grayscale(80%);
  transition: 0.2s linear;
}

.gallery > img:hover {
  filter: grayscale(0);
  z-index: 1;
  --_t: 1.2;
}

.galleryImage1 { --_y: calc(-100% - var(--g)); }
.galleryImage7 { --_y: calc(100% + var(--g)); }

.galleryImage3,
.galleryImage5 {
  --_x: calc(-75% - 0.87*var(--g));
}

.galleryImage4,
.galleryImage6 {
  --_x: calc(75% + 0.87*var(--g));
}

.galleryImage3,
.galleryImage4 {
  --_y: calc(-50% - 0.5*var(--g));
}

.galleryImage5,
.galleryImage6 {
  --_y: calc(50% + 0.5*var(--g));
} 